<% if @order && !@order.new_record? %>
<%= form.hidden_field :id %>
<%= form.hidden_field :status %>
<% end %>
<table class="form">
	<tr>
		<td class="fl">Licensee Name:</td>
		<td><%= form.text_field :licensee_name %></td>
	</tr>
	<tr>
		<td class="fl">Email:</td>
		<td><%= form.text_field :email %></td>
	</tr>
	<tr>
		<td class="fl">Items:</td>
	</tr>
	<tr class="wrap">
		<td colspan="2"><%= render :partial => "product_quantities" %></td>
	</tr>
	<tr>
		<td class="fl">Company:</td>
		<td><%= form.text_field :company %></td>
	</tr>
	<tr>
		<td class="fl">Billing First Name:</td>
		<td><%= form.text_field :first_name %></td>
	</tr>
	<tr>
		<td class="fl">Billing Last Name:</td>
		<td><%= form.text_field :last_name %></td>
	</tr>
	<tr>
		<td class="fl">Address 1:</td>
		<td><%= form.text_field :address1 %></td>
	</tr>
	<tr>
		<td class="fl">Address 2:</td>
		<td><%= form.text_field :address2 %></td>
	</tr>
	<tr>
		<td class="fl">City:</td>
		<td><%= form.text_field :city %></td>
	</tr>
	<tr>
		<td class="fl">State:</td>
		<td><%= form.text_field :state %></td>
	</tr>
	<tr>
		<td class="fl">Postal/Zipcode:</td>
		<td><%= form.text_field :zipcode %></td>
	</tr>
	<tr>
		<td class="fl">Country 2 letter Code:</td>
		<td><%= form.text_field :country, :size => 4 %></td>
	</tr>
	<tr>
		<td class="fl">Comment:</td>
		<td><%= form.text_field :comment %></td>
	</tr>
	<tr>
		<td class="fl">Payment Method:</td>
		<td><%= form.text_field :payment_type %></td>
	</tr>
		<tr>
		<td class="fl">Ordered Time:</td>
		<td><%= datetime_select("order", "order_time") %></td>
	</tr>
</table>
