<br>
<br>

<table>
  <tr>
    <td>Code</td>
    <td><%= @coupons.first.code %></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%= @coupons.first.description %></td>
  </tr>
  <tr>
    <td>Product Code</td>
    <td><%= @coupons.first.product_code %></td>
  </tr>
  <tr>
    <td>Discount Amount</td>
    <% if @coupons.first.amount != 0 && @coupons.first.amount != nil %>
    		<td><%= number_to_currency(@coupons.first.amount) %></td>
    <% else %>
		<td> --- </td>
    <% end %>
  </tr>
  <tr>
    <td>Discount Percentage</td>
    <% if @coupons.first.percentage != 0 && @coupons.first.percentage != nil %>
    		<td><%= @coupons.first.percentage %>%</td>
    <% else %>
		<td> --- </td>
    <% end %>
  </tr>
</table>

<br>

<table class="list">
  <tr>
    <th>Coupon</th>
    <th>Used Count</th>
    <th>Use Limit</th>
    <th>Status</th>
    <th></th>
  </tr>
<% @coupons.each do |coupon| %>
  <tr>
    <td><%= coupon.coupon %></td>
    <td><%= coupon.used_count %></td>
    <td><%= coupon.use_limit %></td>
    <% if ! coupon.expired? %>
    <td>
      <span class="green bold">Available</span>
    </td>
    <% else %>
    <td>
      <span class="red bold">Expired</span>
    </td>
    <% end %>

    <td><%= link_to 'Edit', edit_admin_coupon_path(coupon) %></td>
  </tr>
<% end %>
</table>

<br>
<br>

<%= link_to 'Back', admin_coupons_path %>
